<div class="container px-5 px-sm-0">

  <h2>
    <%= @customer.name %>さんのページです
  </h2>


  <div>
    <%= flash[:notice] %>
  </div>

  <div class="row">

    <div class="col-md-3 mt-5">

      <table class='table'>

        <tr><%= image_tag @customer.get_profile_image(150,150) %></tr>

        <tr>
          <th>name</th>
          <th><%= @customer.name %></th>
        </tr>

        <tr>
          <th>introduction</th>
          <th><%= @customer.introduction %></th>
        </tr>

        <tr>
          <th class = "mx-auto">
          <% if @customer.name != "guest" %>
             <% if @customer == current_customer %>
               <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-outline-success" %>
             <% end %>
          <% end %>
          </th>
        </tr>

        <% if @customer.name != "guest" %>
          <% if @customer == current_customer %>
            <tr>
              <th>
                <%= link_to "退会する", customer_path(@customer), method: :delete, class: "btn btn-outline-danger", "data-confirm" => "本当に退会しますか？""退会した場合、登録データは全て消去されます。"  %>
              </th>
            </tr>
          <% end %>
        <% end %>

      </table>

    </div>

    <div class = "col-md-8 offset-md-1">

      <div class="card-list-container py-5">

        <%= render 'public/parks/favorites_list', favorites_list: @favorites_list %>

      </div>

    </div>

  </div>

</div>