<div class="container px-5 px-sm-0">

  <div>
    <%= flash[:notice] %>
  </div>

  <div class="row">

    <div class="col-md-3">

      <h2>
        <%= @customer.name %>さんの<br>
        ページです
      </h2>

      <table class='table'>

        <tr><%= image_tag @customer.get_profile_image(100,100) %></tr>

        <tr>
          <th>name</th>
          <th><%= @customer.name %></th>
        </tr>

        <tr>
          <th>introduction</th>
          <th><%= @customer.introduction %></th>
        </tr>

        <tr>
          <th>
            <%= link_to "会員編集", edit_admin_customer_path(@customer), class: "btn btn-outline-success" %>
          </th>
        </tr>

        <tr>
          <th>
           <%= link_to "会員削除", admin_customer_path(@customer), method: :delete, class: "btn btn-outline-danger",  "data-confirm" => "本当に削除しますか？"  %>
          </th>
        </tr>

      </table>

    </div>

    <div class = "col-md-8 offset-md-1">

      <div class="card-list-container py-5">

        <%= render 'layouts/favorites_list' %>

      </div>

    </div>

  </div>

</div>