<div>
  <%= image_tag @customer.get_profile_image(100,100) %>
  <p><%= @customer.name %></p>
  <p><%= @customer.introduction %></p>
  <%= link_to "会員編集", edit_admin_customer_path(@customer) %>
  <%= link_to "会員削除", admin_customer_path(@customer), method: :delete %>
</div>

<% if @favorite_list.present? %>
  <% @favorite_list.each do |park| %>
    <%= park.name %>
    <%= image_tag park.get_image(150,150) %>
    <% end %>
<% end %>