<div class="container">

  <div class="row">

    <div class = "col-md-9 mx-auto">

      <h3 class="mb-4 text-center">公園一覧</h3>
      <p>
       <%= link_to '新しい順', admin_parks_path(latest: "true") %>
       |<%= link_to '古い順', admin_parks_path(old: "true") %>
       |<%= link_to 'お気に入り登録数順', admin_parks_path(favorite: "true") %>
      </p>

      <%= render 'admin/parks/parks_index', parks: @parks %>

    </div>

    <div class="col-xs-2 my-4 mx-auto">

      <%= render 'admin/parks/tag_index' %>

      <%= render 'admin/parks/tag_new' %>

    </div>

  </div>

</div>