<% if parks.empty? %>

  <div class = 'text-center'>
    <p>該当する公園が見つかりませんでした。</p>
  </div>

<% else %>

  <table class='table table-hover table-inverse table-dark table-striped'>

    <thead>
      <tr class = "text-center">
        <th></th>
        <th>公園名</th>
        <th>エリア</th>
        <th>平均点</th>
        <th>お気に入り登録数</th>
      </tr>
    </thead>

    <tbody>
      <% parks.each do |park| %>

        <tr class = "text-center">

          <td>
            <%= link_to park_path(park.id) do %>
              <%= image_tag park.get_image, size:'150x100' %>
            <% end %>
          </td>

          <td>
            <%=link_to park.name,park_path(park.id)  %>
          </td>

          <td>
            <%= link_to park.area, search_park_path(keyword: park.area) %>
          </td>

          <td>
            <%= render "public/park_comments/star_average", park: park %>
          </td>

          <td id = "favorite_<%= park.id %>">
            <%= render "public/favorites/favorite", park: park %>
          </td>

        </tr>

      <% end %>
    </tbody>

  </table>

<% end %>