<div class="container">
  <div class="row">
    <div class="col-3">
     <%= render 'public/parks/tag' %>
    </div>
    <div class = "col-9">

<% @parks.each do |park| %>
<div>
  <%= link_to park_path(park.id) do %>
    <%= image_tag park.get_image(150,150) %>
    <p>公園名：<%= park.name %></p>
  <% end %>
  <p>
    エリア：<%= link_to park.area, search_park_path(keyword: park.area) %>
  </p>
  <p>紹介：<%= park.introduction %></p>
  <p><%= link_to "#{park.park_comments.count} コメント", park_path(park.id) %></p>
</div>
<div>
   <%= render "public/park_comments/star_average", park: park %>
</div>

<% end %>
    
    </div>
  </div>
</div>

