<% @parks.each do |park| %>
<div>
  <%= link_to park_path(park.id) do %>
    <%= image_tag park.get_image(150,150) %>
    <p>公園名：<%= park.name %></p>
  <% end %>
  <p>
    エリア：<%= link_to park.area, search_park_path(keyword: park.area) %>
  </p>
  <p>紹介：<%= park.introduction %></p>
  <p><%= link_to "#{park.park_comments.count} コメント", park_path(park.id) %></p>
</div>
<% end %>

<%= form_tag({controller:"parks",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
    <% end %>
    <%= submit_tag '検索' %>
<% end %>

