<div class="container my-5">

  <div>
    <%= flash[:notice] %>
  </div>

  <div class="row">

    <div class="col-md-8 mx-auto">

      <div class = "my-4">
        <%= image_tag @park.get_image(750,700), class: "d-block mx-auto col-12 col-sm-10" %>
      </div>

      <h3><strong><%= @park.name %></strong></h3>

      <ul class="list-group mt-4">

        <li class="list-group-item">
          住所：<%= @park.address %>
        </li>

        <li class="list-group-item">
          紹介：<%= @park.introduction %>
        </li>

        <li class="list-group-item">
          エリア：<%= link_to @park.area, search_park_path(keyword: @park.area) %>
        </li>

        <li class="list-group-item" id = "favorite_<%= @park.id %>">
    　　　　<%= render "public/favorites/favorite", park: @park %>
        </li>

        <li class="list-group-item" id = "star_average_<%= @park.id %>">
          <%= render "public/park_comments/star_average", park: @park %>
        </li>

        <li class="list-group-item" id = "comments_count_<%= @park.id %>">
          <%= render "public/park_comments/comments_count", park: @park %>
        </li>

      </ul>

      <div class = "my-4">
        <h2>所在地</h2>
        <div id='map', class = "d-block mx-auto col-12 col-sm-10"></div>
      </div>

      <style>
        #map {
          height: 350px;
          width: 100%;
        }
      </style>

      <script>
        let map

        function initMap(){

          // デフォルトで指定の緯度経度からマップの真ん中に指定
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= @park.latitude %>, lng: <%= @park.longitude %>},
            zoom: 12,
          });

          //マーカーの指定 
          marker = new google.maps.Marker({
            position:  {lat: <%= @park.latitude %>, lng: <%= @park.longitude %>},
            map: map
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>

      <div id = "comment_form_<%= @park.id %>" class = "text-center">
        <%= render "public/park_comments/form", park: @park, park_comment: @park_comment %>
      </div>

      <div id = "comments_index_<%= @park.id %>">
        <%= render "public/park_comments/comments_index", park: @park, park_comments: @park_comments %>
      </div>

    </div>

  </div>

</div>

<%= render "public/park_comments/star", park: @park %>