<div>
  <%= image_tag @park.get_image(200,200) %>
  <p>公園名：<%= @park.name %></p>
  <p>
    エリア：<%= link_to @park.area, search_park_path(keyword: @park.area) %>
  </p>
  <p>住所：<%= @park.address %></p>
  <p>紹介：<%= @park.introduction %></p>
  <p>ポイント：
    <% @park.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </p>
  <div id = "favorite_<%= @park.id %>">
    <%= render "public/favorites/favorite", park: @park %>
  </div>
</div>

<div>
  <p>コメント件数：<%= @park.park_comments.count %></p>
  <% @park.park_comments.each do |park_comment| %>
    <p><%= image_tag park_comment.customer.get_profile_image(100,100) %></p>
    <%= park_comment.customer.name %>
    <%= park_comment.created_at.strftime('%Y/%m/%d') %><%= park_comment.comment %>
    <% if park_comment.customer == current_customer  %>
      <%= link_to "削除", park_park_comment_path(park_comment.park, park_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@park, @park_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>