<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">ログイン</h5>
      <div class="form-body p-4">
        
        <div class="mx-auto text-center">
        　<p>メールアドレスと<br>パスワードを入力してください。</p>
      　</div>

　　　　<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  　　　　　<%= render "public/shared/error_messages", resource: resource %>

　　　　<div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-envelope"></i></span>
          </div>
          <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Eメール" %>
        </div>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
          </div>
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"パスワード" %>
        </div>
        
        <%= f.submit "ログイン", class:"btn btn-lg btn-block btn-primary mt-5" %>
        <% end %>
        
        <div class>
          <p class="mt-5 text-left"><span class="bg-light px-3 pb-1">会員登録がお済みでない方</span></p>
          <p class = "text-left"><%= render "public/shared/links" %></p>
          
        </div>
      </div>
    </div>
  </div>
</div>
