<% if @favorite_list.empty? %>

  <div class = 'text-center'>
    <p>お気に入りがまだ登録されていません。</p>
  </div>

<% else %>

  <h4>お気に入り一覧</h4>

  <% if @favorite_list.present? %>
    <% @favorite_list.each do |park| %>

      <div class="card w-50 mx-auto mt-4 shadow-lg">

        <%= image_tag park.get_image(150,150),size: "150x150", class:"card-img-top"; %>

          <div class="card-body">

            <div class="row">

              <div class="col-10">

                <p class="card-title">
                  <%= link_to park.name, park_path(park.id) %>
                </p>

                <p class="card-title">
                  <%= link_to park.area, search_park_path(keyword: park.area) %>
                </p>

                <p class="card-title">
                  <%= render "public/park_comments/star_average", park: park %>
                </p>

              </div>

            </div>

          </div>

      </div>

    <% end %>
  <% end %>

  <%= paginate @favorite_list %>

<% end %>