<!DOCTYPE html>
<html>
  <head>
    <title>OsakaPark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "d-flex flex-column vh-100">

    <header class="shadow-sm">

      <% if customer_signed_in? %>
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
      <% elsif admin_admin_signed_in?%>
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      <% else %>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <% end %>

      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>

            <div class="search">
              <%= form_with(url: search_path, scope: :park, local: true) do |f| %>
                <%= f.text_field :search, placeholder: "公園名、エリア名を検索" %>
                <%= f.submit "検索", class: "btn btn-primary mr-5 my-2" %>
              <% end %>
            </div>

              <li class = "nav-item">
                <%= link_to customer_path(current_customer.id), class: 'bg-light btn mr-3 my-2' do %>
                  <i class="far fa-user"></i>マイページ
                <% end %>
              </li>

              <li class = "nav-item">
                <%= link_to '公園一覧', parks_path, class: 'bg-light btn mr-3 my-2' %>
              </li>

              <li class = "nav-item">
                <%= link_to destroy_customer_session_path, method: :delete, class: 'bg-light btn mr-3 my-2' do %>
                  <i class="fas fa-sign-out-alt"></i>ログアウト
                <% end %>
              </li>

            <% elsif admin_admin_signed_in? %>

              <div class="search">
                <%= form_with(url: admin_search_path, scope: :park, local: true) do |f| %>
                  <%= f.text_field :search, placeholder: "公園名を検索" %>
                  <%= f.submit "検索", class: "btn btn-primary mr-5 my-2" %>
                <% end %>
              </div>

              <li class = "nav-item">
                <%= link_to '新規投稿', new_admin_park_path, class: 'bg-light btn mr-3 my-2' %>
              </li>

              <li class = "nav-item">
                <%= link_to admin_customers_path, class: 'bg-light btn mr-3 my-2' do %>
                  <i class="fas fa-users"></i>会員一覧
                <% end %>
              </li>

              <li class = "nav-item">
                <%= link_to '公園一覧', admin_parks_path, class: 'bg-light btn mr-3 my-2'  %>
              </li>

              <li class = "nav-item">
                <%= link_to destroy_admin_admin_session_path, method: :delete, class: 'bg-light btn mr-3 my-2' do %>
                  <i class="fas fa-sign-out-alt"></i>ログアウト
                <% end %>
              </li>

            <% else %>

              <li class = "nav-item">
                <%= link_to new_customer_registration_path, class: 'bg-light btn mr-3 my-2' do %>
                  <i class="fas fa-user-plus"></i>新規登録
                <% end %>
              </li>

              <li class = "nav-item">
                <%= link_to new_customer_session_path, class: 'bg-light btn mr-3 my-2' do %>
                  <i class="fas fa-sign-in-alt"></i>ログイン
                <% end %>
              </li>

              <li class = "nav-item">
                <%= link_to root_path, class: 'bg-light btn mr-3 my-2' do %>
                  <i class="fas fa-home"></i>TOPページ
                <% end %>
              </li>

              <li class = "nav-item">
                <%= link_to about_path, class: 'bg-light btn my-2' do %>
                  <i class="fas fa-link"></i>Aboutページ
                <% end %>
              </li>

            <% end %>
          </ul>
        </div>
      </div>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
  　<p class="alert"><%= alert %></p>

    <main class="mb-auto">
    <%= yield %>
    </main>

    <% if customer_signed_in? %>
      <footer class="bg-success text-white pt-5 pb-4">
    <% elsif admin_admin_signed_in?%>
      <footer class="bg-secondary text-white pt-5 pb-4">
    <% else %>
      <footer class="bg-info text-white pt-5 pb-4">
    <% end %>

    <div class="container">

      <div class="row no-gutters">

        <div class="col-md-8">

          <h6 class="text-white mt-2 mb-3">Link</h6>

          <ul class="p-0 list-unstyled">

            <li>
              <%= link_to "会社概要", about_path, class: "text-white" %>
            </li>

            <li>
              <a href="" title="License informations" class="text-white">プライバシーポリシー</a>
            </li>

          </ul>

        </div>

      </div>

    </div>

  </footer>

  </body>

</html>